*{
    margin: 0;
    padding: 0;
}
.Back_ground{
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
 height: 100vh;
 width: 100vw;
 display: flex;
 justify-content: center;
 align-items: center;
}

.Calculator_Model {
    height: 80vh;
    width: 30vw;
    background-color: black;
    border-radius: 2.5rem;

}
.screen{
    margin: 35px;
    height:10vh;
    background-color: aliceblue;
    border-radius: 10px;
}

.btn{
    margin: 35px;
    height:60vh;
}
button {
    height: 20%;
    width: 20%;
    margin: 2%;
    border-radius: 10%;
    font-size: 2rem;
    background-color: #f0f0f0;
      transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

button:hover, button:focus-visible {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

@media (prefers-reduced-motion: no-preference) {
  button:hover, button:focus-visible {
    transform: scale(1.1);
  }
}

.equal {
    background-color: #ebc334 ;
}

